{% macro customCheckboxInput(id, name, label, value) %}
    <div class="flex items-center text-sm mb-2">
        <input id="{{ id }}" name="{{ name }}" type="checkbox" class="mr-2"
               data-action="editDocumentFieldAction" data-field="{{ name }}">
        <label for="{{ id }}">{{ label }}</label>
    </div>
{% endmacro %}

{% macro customTextInput(id, name, label, value) %}
    <div class="form-group text-sm mb-2">
        <label for="{{ id }}" class="font-semibold capitalize mb-1.5">{{ label }}</label>
        <input id="{{ id }}" name="{{ name }}" class="form-control" type="text"
               data-action="editDocumentFieldAction" data-field="{{ name }}">
    </div>
{% endmacro %}

{% macro customNumberInput(id, name, label, value) %}
    <div class="form-group text-sm mb-2">
        <label for="{{ id }}" class="font-semibold capitalize mb-1.5">{{ label }}</label>
        <input id="{{ id }}" name="{{ name }}" class="form-control" type="number"
               data-action="editDocumentFieldAction" data-field="{{ name }}">
    </div>
{% endmacro %}

{% macro customTextArea(id, name, label, value) %}
    <div class="form-group text-sm mb-2">
        <label for="{{ id }}" class="font-semibold capitalize mb-1.5">{{ label }}</label>
        <textarea id="{{ id }}" name="{{ name }}" cols="30" rows="4"
                  data-action="editDocumentFieldAction" data-field="{{ name }}"></textarea>
    </div>
{% endmacro %}
