{#
/**
 *  This file is part of POS plugin for FacturaScripts
 *  Copyright (C) 2020 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
 */
#}
<!-- Cashup Modal -->
<div class="modal fade" id="cashupModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex w-100">
                    <div class="pr-2 flex-grow-1">
                        <h5 class="modal-title">{{ i18n.trans('cashup') }}</h5>
                        <h6>Conteo de billetes / monedas</h6>
                    </div>
                    <form method="post">
                        <input type="hidden" name="action" value="print-cashup">
                        <button type="submit" class="mr-2 btn btn-icon btn-round btn-primary"
                                title="{{ i18n.trans('print-z') }}">
                            <i class="fa fa-print"></i>
                        </button>
                    </form>
                    <button type="button" class="btn btn-icon btn-round btn-danger" data-dismiss="modal">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <form id="cashupForm" name="cashupForm" method="POST">
                <input type="hidden" name="action" value="close-session">
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-sm-8 col-form-label">{{ i18n.trans('amount-counted') }}</label>
                        <label class="col-sm-4 col-form-label">{{ i18n.trans('currency-denomination') }}</label>
                    </div>
                    {% for denominacion in fsc.getDenominations() %}
                        <div class="form-group row">
                            <div class="col-sm-8">
                                <input type="number" class="form-control" name="cash[{{ denominacion.valor }}]"
                                       placeholder="0">
                            </div>
                            <label class="col-sm-4 col-form-label"> x {{ denominacion.valor }}</label>
                        </div>
                    {% else %}
                        <div class="alert alert-warning" role="alert">
                            No hay denominaciones registradas, registralas en.
                            <a href="{{ i18n.trans('EditConfiguracionPOS') }}">{{ i18n.trans('pos-settings') }}</a>
                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-round"
                            data-dismiss="modal">{{ i18n.trans('cancel') }}</button>
                    <button type="button" class="btn btn-warning btn-round"
                            id="saveCashupButton">{{ i18n.trans('continue') }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
