{#
/**
 *  This file is part of EasyPOS plugin for FacturaScripts
 *  Copyright (C) 2020 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
 */
#}
<!-- Checkout Modal -->
{% set paymentEnabled = terminal.aceptapagos ? '' : 'disabled' %}
<div class="modal fade" id="checkoutModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">{{ i18n.trans('due-amount') }}:&nbsp;<span id="dueAmount"
                                                                                   class="font-weight-bold"></span></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="checkoutPaymentMethod">{{ i18n.trans('payment-method') }}</label>
                            <select class="form-control" id="checkoutPaymentMethod" name="payment-method">
                                {% for formapago in fsc.formaPago.all() %}
                                    <option value="{{ formapago.codpago }}">
                                        {{ formapago.descripcion }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="checkoutPaymentAmount" class="col-form-label">{{ i18n.trans('payment-amount') }}:</label>
                            <input type="number" class="form-control" id="checkoutPaymentAmount" {{ paymentEnabled }}>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="checkoutPaymentChange" class="col-form-label">{{ i18n.trans('payment-change') }}:</label>
                            <input type="number" class="form-control" id="checkoutPaymentChange" readonly="readonly">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rounded btn-warning mr-auto" id="pauseButton">
                    <i class="fas fa-pause" aria-hidden="true"></i>&nbsp;{{ i18n.trans("pause") }}
                </button>
                <button type="button" class="btn btn-rounded btn-primary" id="checkoutButton" disabled="disabled">
                    Continuar
                </button>
            </div>
        </div>
    </div>
</div>
