{#
/**
 *  This file is part of POS plugin for FacturaScripts
 *  Copyright (C) 2020 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
 */
#}
<!-- Checkout Modal -->
{% set paymentsEnabled = terminal.aceptapagos ? '' : 'disabled' %}

<div class="modal fade" id="checkoutModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <button type="button" class="close ml-auto mr-4 mt-3" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body pt-0">
                <div id="checkoutTotals" class="content p-3" role="tabpanel">
                    <div class="row">
                        <div class="col-4 border-right">
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="cartNeto">{{ i18n.trans("subtotal") }}</label>
                                    <input type="number" class="form-control" id="cartNeto" placeholder="0.00" readonly>
                                </div>
                                <div class="form-group col-12">
                                    <label for="dtopor1">{{ i18n.trans("global-dto") }}</label>
                                    <div class="input-icon">
                                        <span class="input-icon-addon"><i class="fas fa-percent"></i></span>
                                        <input type="text" id="dtopor1" name="dtopor1" class="form-control" placeholder="0"/>
                                    </div>
                                </div>
                                <div class="form-group col-12">
                                    <label for="cartTaxes">{{ i18n.trans("taxes") }}</label>
                                    <input type="number" class="form-control" id="cartTaxes" placeholder="0.00" readonly>
                                </div>
                                <div class="form-group col-12">
                                    <label for="cartTotal">{{ i18n.trans("total") }}</label>
                                    <h1 id="checkoutTotal" class="display-4 text-center">0.00</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="d-flex flex-column h-100">
                                <div class="row">
                                    <div class="col-6 text-right border-right">
                                        <span class="d-block font-weight-bold text-muted">RECIBIDO</span>
                                        <span id="paymentOnHand" class="display-4 text-info">0.00</span>
                                    </div><div class="col-6">
                                        <span class="d-block font-weight-bold text-muted">CAMBIO</span>
                                        <span id="paymentReturn" class="display-4 text-warning">0.00</span>
                                    </div>
                                </div>
                                <div class="form-row mt-auto">
                                    <div class="form-group col">
                                        <label for="paymentMethod">{{ i18n.trans('payment-method') }}</label>
                                        <select class="form-control" id="paymentMethod" name="codpago">
                                            {% for paymentMethod in fsc.availablePaymentMethods() %}
                                                <option value="{{ paymentMethod.codpago }}">
                                                    {{ paymentMethod.descripcion }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label for="paymentAmount" class="col-form-label">{{ i18n.trans('payment-amount') }}:</label>
                                        <input type="number" class="form-control" id="paymentAmount" {{ paymentsEnabled }}>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 d-flex">
                        <button type="button" class="btn btn-warning mr-auto" id="pauseButton">
                            <i class="fas fa-pause" aria-hidden="true"></i>&nbsp;{{ i18n.trans("ticket-on-hold") }}
                        </button>
                        <button type="button" class="btn btn-primary" id="checkoutButton" disabled="disabled">
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
