{#
/**
 *  This file is part of POS plugin for FacturaScripts
 *  Copyright (C) 2020 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
 */
#}
<!-- History Modal -->
<div class="modal fade" id="historyModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">{{ i18n.trans('till-session-operations') }}</h2>
                <button type="button" class="btn btn-icon btn-round btn-danger" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table search-table table-striped">
                        <thead>
                        <tr>
                            <th scope="col" class="w-20">{{ i18n.trans('code') }}</th>
                            <th scope="col">{{ i18n.trans('doc-type') }}</th>
                            <th scope="col" class="w-20">{{ i18n.trans('date') }}</th>
                            <th scope="col" class="w-20">{{ i18n.trans('time') }}</th>
                            <th scope="col" class="w-20">{{ i18n.trans('total') }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for operation in fsc.session.loadHistory() %}
                            <tr>
                                <td>{{ operation.codigo }}</td>
                                <td>{{ i18n.trans(operation.tipodoc) }}</td>
                                <td>{{ operation.fecha }}</td>
                                <td>{{ operation.hora }}</td>
                                <td class="text-right">{{ fsc.toolBox().coins().format(operation.total) }}</td>
                            </tr>
                        {% else %}
                            <div class="alert alert-info" role="alert">
                                Ninguna operacion registrada
                            </div>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
