{#
/**
 *  This file is part of EasyPOS plugin for FacturaScripts
 *  Copyright (C) 2020 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
 */
#}
<div class="modal fade" id="pausedOpsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex w-100">
                    <div class="pr-2 flex-grow-1">
                        <h5 class="modal-title">{{ i18n.trans('till-session-operations') }}</h5>
                    </div>
                    <button type="button" class="btn btn-icon btn-round btn-danger" data-dismiss="modal">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <table class="table search-table table-striped" id="pausedOperations">
                    <colgroup>
                        <col class="w-15">
                        <col>
                        <col class="w-15">
                        <col class="w-15">
                        <col class="w-15">
                        <col>
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col">{{ i18n.trans('code') }}</th>
                        <th scope="col">{{ i18n.trans('doc-type') }}</th>
                        <th scope="col">{{ i18n.trans('date') }}</th>
                        <th scope="col">{{ i18n.trans('time') }}</th>
                        <th scope="col">{{ i18n.trans('total') }}</th>
                        <th scope="col"><i class="fas fa-chevron-circle-right"></i></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for operation in fsc.session.loadPausedOps() %}
                        <tr>
                            <td>{{ operation.codigo }}</td>
                            <td>{{ i18n.trans(operation.nombrecliente) }}</td>
                            <td>{{ operation.fecha }}</td>
                            <td>{{ operation.hora }}</td>
                            <td>{{ fsc.toolBox().coins().format(operation.total) }}</td>
                            <td>
                                <button class="btn btn-sm btn-success resume-button" type="button"><i class="fas fa-pen"></i></button>
                            </td>
                        </tr>
                    {% else %}
                        <div class="alert alert-info" role="alert">
                            Ninguna operacion registrada
                        </div>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
