<!-- Paused Operations Modal -->
<div class="modal fade" id="pausedOpsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #f7f7f7; border-bottom: 3px solid #dee2e6">
                <div class="d-flex w-100">
                    <div class="pr-2 flex-grow-1">
                        <h2 class="modal-title">{{ i18n.trans('pos-orders-on-hold') }}</h2>
                    </div>
                    <button type="button" class="btn btn-icon btn-round btn-danger" data-dismiss="modal">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table search-table table-striped" id="pausedOperations">
                        <colgroup>
                            <col class="w-15">
                            <col>
                            <col class="w-15">
                            <col class="w-15">
                            <col class="w-15">
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">{{ i18n.trans('code') }}</th>
                            <th scope="col">{{ i18n.trans('customer') }}</th>
                            <th scope="col">{{ i18n.trans('date') }}</th>
                            <th scope="col">{{ i18n.trans('time') }}</th>
                            <th scope="col">{{ i18n.trans('total') }}</th>
                            <th scope="col"><i class="fas fa-exclamation-circle fa-lg"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for operation in fsc.session.loadPausedOps() %}
                            {% set rowbg = operation.dtooculto ? 'table-danger' : '' %}
                            <tr class="{{ rowbg }}">
                                <td>{{ operation.codigo }}</td>
                                <td>{{ i18n.trans(operation.nombrecliente) }}</td>
                                <td>{{ operation.fecha }}</td>
                                <td>{{ operation.hora }}</td>
                                <td>{{ fsc.toolBox().coins().format(operation.total) }}</td>
                                <td>
                                    <button type="button" class="btn btn-icon btn-info resume-button mr-1" data-code="{{operation.idpausada}}">
                                        <i class="fas fa-pen"></i>
                                    </button>
                                    <button type="button" class="btn btn-icon btn-danger delete-button" data-code="{{operation.idpausada}}">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        {% else %}
                            <div class="alert alert-info" role="alert">
                                Ninguna operacion registrada
                            </div>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
