{#
/**
 *  This file is part of EasyPOS plugin for FacturaScripts
 *  Copyright (C) 2020 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
 */
#}
{% extends 'Master/MicroTemplate.html.twig' %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('Dinamic/Assets/CSS/atlantis.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('Plugins/EasyPOS/Assets/CSS/offcanvas.css') }}" />
    <link rel="stylesheet" href="{{ asset('Plugins/EasyPOS/Assets/CSS/pos.app.css') }}" />
    <link rel="stylesheet" href="{{ asset('Plugins/EasyPOS/Assets/CSS/flexcart.css') }}" />
{% endblock %}
{% block fullBody %}
    {% set terminal = fsc.session.getTerminal() %}
    <body class="app">
        <!-- Header -->
        {{ include('POS/Layout/Navbar.html.twig') }}
        <!-- End Header -->
        <!-- Contend -->
        <main role="main" class="container-fluid app-content">
            {% block messages %}
                {{ parent() }}
            {% endblock %}
            <div class="row h-100">
                {% block body %}
                {% endblock %}
            </div>
        </main>
        <!-- End Contend -->

        {% block modals %}
        {% endblock %}

        {% block js %}
        {% endblock %}

        {{ debugBarRender.render() | raw }}
    </body>
{% endblock %}
