{#
    /**
     * This file is part of POS plugin for FacturaScripts
     * Copyright (C) 2019 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
     *
     * This program is free software: you can redistribute it and/or modify
     * it under the terms of the GNU Lesser General Public License as
     * published by the Free Software Foundation, either version 3 of the
     * License, or (at your option) any later version.
     *
     * This program is distributed in the hope that it will be useful,
     * but WITHOUT ANY WARRANTY; without even the implied warranty of
     * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
     * GNU Lesser General Public License for more details.
     *
     * You should have received a copy of the GNU Lesser General Public License
     * along with this program. If not, see <http://www.gnu.org/licenses/>.
     */
#}
{% extends 'Master/MicroTemplate.html.twig' %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('Dinamic/Assets/CSS/atlantis.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('Plugins/EasyPOS/Assets/CSS/offcanvas.css') }}" />
    <link rel="stylesheet" href="{{ asset('Plugins/EasyPOS/Assets/CSS/pos.css') }}" />
{% endblock %}
{% block fullBody %}
    <body class="app">
        <!-- Header -->
        {{ include('POS/Layout/Header.html.twig') }}
        <!-- End Header -->
        <!-- Contend -->
        <main role="main" class="container-fluid app-content">
            {% block messages %}
                {{ parent() }}
            {% endblock %}
            <div class="row h-100">
                {% block body %}
                {% endblock %}
            </div>
        </main>
        <!-- End Contend -->

        {% block modals %}
        {% endblock %}

        {% block js %}
            {#<script src="{{ asset('node_modules/jquery-ui-dist/jquery-ui.min.js') }}"></script>  #}
            {#<script src="{{ asset('Dinamic/Assets/JS/atlantis.min.js') }}"></script>#}
        {% endblock %}

        {{ debugBarRender.render() | raw }}
    </body>
{% endblock %}
