{#
/**
 * This file is part of EasyPOS plugin for FacturaScripts
 * Copyright (C) 2019 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
 */
#}
{% extends 'Master/MicroTemplate.html.twig' %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('Dinamic/Assets/CSS/atlantis.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('Plugins/EasyPOS/Assets/CSS/offcanvas.css') }}" />
    <link rel="stylesheet" href="{{ asset('Plugins/EasyPOS/Assets/CSS/pos.css') }}" />
{% endblock %}
{% block fullBody %}
    <body class="app">
        <!-- Header -->
        {{ include('POS/Layout/Navbar.html.twig') }}
        <!-- End Header -->
        <!-- Contend -->
        <main role="main" class="container-fluid app-content" id="apps" name="apps">
            {% block messages %}
                {{ parent() }}
            {% endblock %}
            <div class="row h-100">
                {% block body %}
                {% endblock %}
            </div>
        </main>
        <!-- End Contend -->

        {% block modals %}
        {% endblock %}

        {% block js %}
        {% endblock %}
        {#{% block messages %}
            <script>
            {{ _self.notify(log, ['error', 'critical'], 'danger') }}
            {{ _self.notify(log, ['warning'], 'warning') }}
            {{ _self.notify(log, ['notice'], 'success') }}
            {{ _self.notify(log, ['info'], 'info') }}
            </script>
        {% endblock %}#}

        {{ debugBarRender.render() | raw }}
    </body>
{% endblock %}
