<div class="sidebar sidebar-style-2" data-background-color="dark2">
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-primary">
                <li class="nav-item active">
                    <a href="{{ asset('POS') }}">
                        <i class="fas fa-cash-register"></i>
                        <p>POS</p>
                    </a>
                </li>
                {% if fsc.arqueo.abierto %}
                    <li class="nav-item">
                        <a data-toggle="collapse" href="#sidebarUserActions">
                            <i class="fas fa-user-circle fa-lg fa-fw" aria-hidden="true"></i>
                            <p>{{ fsc.user.nick |capitalize }}</p>
                            <span class="caret"></span>
                        </a>
                        <div class="collapse" id="sidebarUserActions">
                            <ul class="nav nav-collapse">
                                <li>
                                    <a href="{{ asset('EditConfiguracionPOS') }}">
                                        <span class="sub-item">{{ i18n.trans('options') }}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                {% endif %}
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fas fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Caja</h4>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#sidebarCajaActions">
                        <i class="fas fa-coins"></i>
                        <p>Cierres</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="sidebarCajaActions">
                        <ul class="nav nav-collapse">
                            <li>
                                <button id="cashupButton" class="btn btn-block btn-danger">
                                    <i class="fas fa-cash-register"></i>&nbsp;{{ i18n.trans('cashup') }}
                                </button>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>