<form id="mainOrderForm" name="mainOrderForm" method="post" autocomplete="off">
    <input type="hidden" id="action" name="action"/>
    <input type="hidden" id="codalmacen" name="codalmacen" value="{{ terminal.codalmacen }}">
    <input type="hidden" id="lines" name="lines"/>
    <input type="hidden" id="payments" name="payments"/>
    <input type="hidden" id="token" name="token" value="{{ fsc.requestToken() }}">
    <input type="hidden" id="idpausada" name="idpausada" value="false">
    <input type="hidden" id="dtopor1" name="dtopor1" value="0">
</form>

<div class="flex flex-col h-full bg-white md:shadow-lg">
    <div class="flex flex-col p-4 gap-4">
        <button id="documentTypeButton" class="btn bg-gray-200 text-slate-800 focus:ring-gray-600 w-full"
                data-toggle="modal" data-target="documentTypeModal">
            <i class="fa fa-file-invoice"></i>
            <span id="documentTypeLabel" class="mx-2">
                {{ fsc.getDefaultDocument().descripcion ?: i18n.trans(fsc.getDefaultDocument().tipodoc) }}
            </span>
            <i class="ml-auto fa fa-ellipsis-v"></i>
        </button>
        <button id="customerSearchButton" class="btn btn-primary w-full"
                data-toggle="modal" data-target="customerSearchModal">
            <i class="fa fa-user"></i>
            <span id="customerNameLabel" class="mx-2">{{ fsc.getDefaultCustomer().nombre }}</span>
            <i class="ml-auto fa fa-ellipsis-v"></i>
        </button>
        {% for button in fsc.getCustomButtons %}
            {{ include(button) }}
        {% endfor %}
    </div>
    <div id="cartListView" class="flex-1 px-4 overflow-auto">
        <div class="h-full flex justify-center items-center">
            <i class="fa fa-shopping-cart fa-5x text-slate-gray-300"></i>
        </div>
    </div>
    <div class="flex flex-col md:place-content-between h-auto select-none font-medium">
        <div class="p-4 flex justify-between border-t-2 border-dashed">
            <button class="btn btn-light text-slate-800" data-toggle="modal" data-target="totalsDetailModal">
                <i class="fas fa-ellipsis-v fa-fw"></i> {{ i18n.trans('detail') }} / {{ i18n.trans('payable-amount') }}
            </button>
            <span id="cartTotal" class="text-right text-xl">0.000</span>
        </div>
    </div>
    <div class="flex flex-row gap-4 p-4 h-auto select-none">
        <button class="md:hidden btn btn-icon btn-light" data-toggle="block"
                data-target="cartMainView" data-ontoggle="productMainView">
            <i class="fa fa-arrow-left"></i>
        </button>
        <button class="flex-1 btn btn-warning" data-action="holdOrderAction">
            <span class="mr-auto">{{ i18n.trans('hold') }}</span>
            <i class="fa fa-hourglass-start"></i>
        </button>
        {#{{ terminal | json_encode(constant('JSON_PRETTY_PRINT')) }}#}
        {% if terminal.aceptapagos %}
            <button class="flex-1 btn btn-success" data-toggle="modal" data-target="checkoutModal">
                <span class="mr-auto">{{ i18n.trans('charge') }}</span>
                <i class="fa fa-calculator"></i>
            </button>
        {% endif %}
    </div>
</div>
