{#
/**
 *  This file is part of POS plugin for FacturaScripts
 *  Copyright (C) 2020 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
 */
#}
{% extends 'Master/POS.html.twig' %}
{% import 'Macro/POS.html.twig' as pos %}

{% set grid = fsc.getFieldOptions() %}
{% set terminal = fsc.getTerminal() %}
{% block body %}
    <div class="flex h-screen antialiased">
        <div id="mainView" class="flex flex-1 overflow-auto">
            <div id="productMainView" class="md:w-3/5 app-container">
                {{ include('Block/POS/Navbar.html.twig') }}
                {{ include('Block/POS/Products.html.twig') }}
            </div>
            <div id="cartMainView" class="hidden md:flex md:w-2/5 app-container">
                {{ include('Block/POS/Cart.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block modals %}
    {{ include('Modal/POS/CashMovments.html.twig') }}
    {{ include('Modal/POS/Checkout.html.twig') }}
    {{ include('Modal/POS/CloseSession.html.twig') }}
    {{ include('Modal/POS/CustomerSearch.html.twig') }}
    {{ include('Modal/POS/DocumentType.html.twig') }}
    {{ include('Modal/POS/LastOrders.html.twig') }}
    {{ include('Modal/POS/PausedOrders.html.twig') }}
    {{ include('Modal/POS/ProductEdit.html.twig') }}
    {{ include('Modal/POS/ProductQuantity.html.twig') }}
    {{ include('Modal/POS/ProductFilter.html.twig') }}
    {{ include('Modal/POS/ProductStockDetail.html.twig') }}
    {{ include('Modal/POS/ProductImages.html.twig') }}
    {{ include('Modal/POS/DocumentDetail.html.twig') }}
    {{ include('Modal/POS/User.html.twig') }}
    {% for modal in fsc.getCustomModals() %}
        {{ include(modal) }}
    {% endfor %}
{% endblock %}

{% block js %}
    <script id="message-template" type="text/template">
        <% it.messages.forEach(function(message){ %>
        <div class="alert alert-<%= message.type %>" role="alert">
            <div>
                <%~ message.message %>
            </div>
        </div>
        <% }) %>
    </script>
    <script id="familyListTemplate" type="text/template">
    </script>
    {# <script id="familyListTemplate" type="text/template">
        <% if (it.items.madre.codfamilia){ %>
        <div role="listitem"
             class="cursor-pointer rounded-lg bg-blue-500 p-4 align-middle font-semibold text-white shadow-sm"
             data-action="setProductFamilyAction"
             data-code="<%= it.items.madre.madre ?? '' %>"
             data-madre="<%= it.items.madre.madre ?? '' %>">
            REGRESAR
        </div>
        <% } %>
        <% it.items.children.forEach(function(familia){ %>
        <div role="listitem"
             class="cursor-pointer rounded-lg bg-slate-100 p-4 font-semibold shadow-sm"
             data-action="setProductFamilyAction"
             data-code="<%= familia.codfamilia %>"
             data-madre="<%= familia.madre %>">
            <%= familia.descripcion %>
        </div>
        <% }) %>
    </script> #}
    {# TODO: Change to dynamic for release #}
    {{ parent() }}
    <script src="{{ asset('Dinamic/Assets/JS/vendor/eta.min.js?v=2') }}"></script>
    <script src="{{ asset('Dinamic/Assets/JS/vendor/onscan.min.js?v=1') }}"></script>
    <script type="module" src="{{ asset('Dinamic/Assets/JS/POS/App.js') }}"></script>
    <script type="application/javascript">
        const AppSettings = {
            'cash': '{{ fsc.getCashPaymentMethod() }}',
            'token': '{{ fsc.getNewToken() }}',
            'url': 'POS',
            'codalmacen': '{{ fsc.getDefaultWarehouse() }}',
            'customer': {
                'codcliente': '{{ fsc.getDefaultCustomer().codcliente }}',
                'nombre': '{{ fsc.getDefaultCustomer().nombre }}'
            },
            'document': {
                'code': '{{ fsc.getDefaultDocument().tipodoc }}',
                'serie': '{{ fsc.getDefaultDocument().codserie }}',
                'description': '{{ fsc.getDefaultDocument().primaryDescription() }}',
            },
            'payment': {
                'codpago': '{{ fsc.getCashPaymentMethod() }}'
            }
        }

        window.POS = {
            'customActions': [],
            'customFields': []
        }
    </script>
{% endblock %}
