<nav id="navbar" class="relative flex flex-wrap items-center justify-between bg-gray-900 px-4 py-2">
    <div class="relative flex w-full justify-between md:w-auto lg:static">
        <a class="inline-block whitespace-nowrap py-2 font-semibold leading-normal text-slate-50"
           href="{{ asset('') }}">
            <i class="text-xl fa fa-home"></i>
        </a>
        <button class="py-1 text-xl text-slate-100 btn focus:bg-gray-100 focus:text-slate-700 focus:ring-gray-300 md:hidden"
                type="button" data-toggle="collapse" data-target="navbarMenu">
            <span class="flex font-medium"><i class="fa fa-bars"></i></span>
        </button>
    </div>

    <div class="hidden w-auto md:block" id="navbarMenu">
        <ul class="ml-auto flex w-full list-none flex-col md:space-x-2 md:w-auto md:flex-row md:p-0">
            <li class="nav-item">
                <button class="btn hover:bg-slate-300 hover:text-slate-800 focus:ring-slate-100"
                        data-action="showPausedOrders">
                    <i class="text-lg fas fa-hourglass-half fa-fw leading-lg"></i>
                </button>
            </li>
            <li class="nav-item">
                <button class="btn hover:bg-slate-300 hover:text-slate-800 focus:bg-slate-300 focus:ring-slate-100"
                        data-action="showLastOrders">
                    <i class="text-lg fas fa-history fa-fw leading-lg"></i>
                </button>
            </li>
            <li class="nav-item">
                <button class="btn hover:bg-slate-300 hover:text-slate-800 focus:ring-slate-100"
                        data-toggle="modal" data-target="closeSessionModal">
                    <i class="text-lg fas fa-cash-register fa-fw leading-lg"></i>
                </button>
            </li>
            <li class="nav-item">
                <button class="btn hover:bg-slate-300 hover:text-slate-800 focus:ring-slate-100"
                        data-toggle="modal" data-target="moneyInOutModal">
                    <i class="text-lg fas fa-wallet fa-fw leading-lg"></i>
                </button>
            </li>
            <li>
                <button class="btn hover:bg-slate-300 hover:text-slate-800 focus:ring-slate-100"
                        data-toggle="modal" data-target="userModal">
                    <i class="text-lg fas fa-user-circle fa-fw leading-lg"></i>
                    <span class="ml-2">{{ fsc.user.nick }}</span>
                </button>
                {# <span class="inline-block whitespace-nowrap py-2 font-semibold leading-normal text-slate-50">
                <i class="fa fa-user-circle"></i> {{ fsc.user.nick }}
            </span> #}
            </li>
            {{ _self.menuElement('modal', 'moneyInOutModal', 'fa-wallet') }}
            {{ _self.menuElement('modal', 'userModal', 'fa-user-circle', fsc.user.nick) }}
            <li class="nav-item">
                <a class="btn hover:bg-slate-300 hover:text-slate-800 focus:ring-slate-100"
                   href="{{ fsc.getTerminal().url('edit') }}" target="_blank">
                    <i class="text-lg fas fa-desktop fa-fw leading-lg"></i>
                    <span class="ml-2">{{ fsc.getTerminal().nombre }}</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
{% macro menuElement(toggle, target, icon, text) %}
    <li>
        <button class="btn hover:bg-slate-300 hover:text-slate-800 focus:ring-slate-100"
                data-toggle="{{ toggle }}" data-target="{{ target }}">
            <i class="text-lg fas {{ icon }} fa-fw leading-lg"></i>
            {% if text %}
                <span class="ml-2">{{ text }}</span>
            {% endif %}
        </button>
    </li>
{% endmacro %}
