<nav id="navbar" class="relative flex flex-wrap items-center justify-between bg-gray-900 px-4 py-2">
    <div class="relative flex w-full justify-between md:w-auto lg:static">
        <a class="inline-block whitespace-nowrap py-2 font-semibold leading-normal text-slate-50"
           href="{{ asset('') }}">
            <i class="text-xl fa fa-home"></i>
        </a>
        <button class="py-1 text-xl text-slate-100 btn focus:bg-gray-100 focus:text-slate-700 focus:ring-gray-300 md:hidden"
                type="button" data-toggle="collapse" data-target="navbarMenu">
            <span class="flex font-medium"><i class="fa fa-bars"></i></span>
        </button>
    </div>
    <div class="hidden w-auto md:block" id="navbarMenu">
        <ul class="ml-auto flex w-full list-none flex-col md:space-x-2 md:w-auto md:flex-row md:p-0">
            {% for element in fsc.getCustomNavbarElements('link') %}
                {{ _self.menuLinkElement(asset(element.url), element.icon, element.text, element.title) }}
            {% endfor %}
            {{ _self.menuActionElement('showPausedOrders', 'fas fa-hourglass-half') }}
            {{ _self.menuActionElement('showLastOrders', 'fas fa-history') }}
            {{ _self.menuElement('modal', 'closeSessionModal', 'fas fa-cash-register') }}
            {{ _self.menuElement('modal', 'moneyInOutModal', 'fas fa-wallet') }}
            {{ _self.menuElement('modal', 'userModal', 'fas fa-user-circle', fsc.user.nick) }}
            {{ _self.menuLinkElement(fsc.getTerminal().url('edit'), 'fas fa-desktop', fsc.getTerminal().nombre) }}
        </ul>
    </div>
</nav>
{% macro menuElement(toggle, target, icon, text, title) %}
    <li>
        <button class="btn hover:bg-slate-300 hover:text-slate-800 focus:ring-slate-100"
                data-toggle="{{ toggle }}" data-target="{{ target }}" title="{{ title }}">
            <i class="text-lg leading-lg {{ icon }} fa-fw"></i>
            {% if text %}
                <span class="ml-2">{{ text }}</span>
            {% endif %}
        </button>
    </li>
{% endmacro %}

{% macro menuActionElement(action, icon, text, title) %}
    <li>
        <button class="btn hover:bg-slate-300 hover:text-slate-800 focus:ring-slate-100"
                data-action="{{ action }}" title="{{ title }}">
            <i class="text-lg leading-lg {{ icon }} fa-fw"></i>
            {% if text %}
                <span class="ml-2">{{ text }}</span>
            {% endif %}
        </button>
    </li>
{% endmacro %}

{% macro menuLinkElement(url, icon, text, title) %}
    <li>
        <a class="btn hover:bg-slate-300 hover:text-slate-800 focus:ring-slate-100" href="{{ url }}"
           target="_blank" title="{{ title }}">
            <i class="text-lg leading-lg {{ icon }} fa-fw"></i>
            {% if text %}
                <span class="ml-2">{{ text }}</span>
            {% endif %}
        </a>
    </li>
{% endmacro %}
