<div class="p-4">
    <label class="text-gray-400 input-icon">
        <i class="fa fa-sm fa-search"></i>
        <input type="search" id="productSearchBox" placeholder="{{ i18n.trans('search') }}">
    </label>
</div>
{# <div class="px-4 overflow-hidden">
    <div id="productTagList" class="flex overflow-x-auto pl-2 py-2 space-x-4">
        {% for element in fsc.getCategories() %}
            <button class="product-tag" data-code="{{ element.code }}">
                <i class="mr-4 fa fa-tag"></i>
                <span>{{ element.description }}</span>
            </button>
        {% endfor %}
    </div>
</div> #}
<div class="flex-1 mb-4 px-4 overflow-y-auto">
    <div id="productSearchResult" role="list">
        <div role="listitem" class="product-add-btn bg-white cursor-pointer shadow-sm rounded-lg p-4 mb-4 flex"
             data-action="setProductAction" data-code="" data-description="Producto Generico">
            <div class="mr-4 flex items-center">
                <span class="text-sky-500"><i class="fas fa-2x fa-tags"></i></span>
            </div>
            <div class="flex-1">
                <p class="text-sm uppercase font-semibold text-gray-800">XXX-XXX</p>
                <p class="text-base text-gray-600">PRODUCTO DE ENTRDA LIBRE</p>
            </div>
            <div class="w-1/4 ml-4 flex-col items-center">
                <div class="text-sm uppercase font-semibold px-3 py-0.5 bg-gray-200 text-gray-800 rounded-full">
                    {{ fsc.toolBox().coins().format(0) }}
                </div>
                <div class="text-sm lowercase font-semibold mt-2 px-3 py-0.5 bg-gray-200 text-gray-800 rounded-full">
                    &infin;
                </div>
            </div>
        </div>
        {% for element in fsc.getHomeProducts() %}
            <div role="listitem" class="product-add-btn bg-white cursor-pointer shadow-sm rounded-lg p-4 mb-4 flex"
                 data-action="setProductAction" data-code="{{ element.code }}"
                 data-description="{{ element.description }}">
                <div class="mr-4 flex items-center">
                    <span>
                        <i class="fas fa-3x fa-box"></i>
                    </span>
                </div>
                <div class="flex-1">
                    <p class="text-sm uppercase font-semibold text-gray-800">{{ i18n.trans('code') }}
                        : {{ element.code }}</p>
                    <p class="text-base text-gray-600">{{ element.description }}</p>
                </div>
                <div class="w-1/4 ml-4 flex-col items-center">
                    <div class="text-sm uppercase font-semibold px-3 py-0.5 bg-gray-200 text-gray-800 rounded-full">
                        {{ fsc.toolBox().coins().format(element.price | default('0')) }}
                    </div>
                    <div class="text-sm lowercase font-semibold mt-2 px-3 py-0.5 bg-gray-200 text-gray-800 rounded-full
                    pointer-events-auto" data-action="stockDetailAction" data-code="{{ element.code }}">
                        {{ element.stock | default('0') }} {{ i18n.trans('available') }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="md:hidden flex flex-row p-4 h-auto select-none bg-white">
    <button class="btn btn-primary btn-block" data-toggle="block" data-target="cartMainView"
            data-ontoggle="productMainView">
        <span class="mr-auto">Carrito</span>
        <i class="fas fa-shopping-cart fa-fw"></i>
    </button>
</div>
