<div id="documentTypeModal" class="modal hidden">
    <!--content-->
    <div class="modal-content md:modal-content-sm">
        <!--header-->
        <div class="modal-header">
            <h2 class="text-2xl text-slate-gray-700 font-semibold">{{ i18n.trans('doc-type') }}</h2>
            <button class="btn btn-icon btn-danger ml-2" data-toggle="modal" data-target="documentTypeModal">
                <i class="fa fw fa-times"></i>
            </button>
        </div>
        <!--body-->
        <div class="modal-body p-0">
            <div class="overflow-hidden">
                <table class="w-full">
                    <tbody id="documentTypeList" class="font-semibold text-slate-gray-700">
                    {% for element in fsc.getTerminal.getDocumentTypes() %}
                        {% set description =  element.primaryDescription() %}
                        <tr class="bg-blue-100 cursor-pointer hover:bg-blue-500 hover:text-white">
                            <td class="p-4 font-medium" data-action="setDocumentAction"
                                data-code="{{ element.tipodoc }}" data-serie="{{ element.codserie }}"
                                data-description="{{ description }}">
                                {{ description }}
                            </td>
                        </tr>
                    {% else %}
                        <div class="alert alert-info" role="alert">
                            No has habilitado algun documento.
                        </div>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <span>Deslice para ver mas elementos</span>
        </div>
    </div>
</div>
