{#
/**
 *  This file is part of POS plugin for FacturaScripts
 *  Copyright (C) 2020 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
 */
#}
<div id="lastOrdersModal" class="modal hidden">
    <!--content-->
    <div class="modal-content md:modal-content-lg h-full">
        <!--header-->
        <div class="modal-header">
            <h2 class="text-2xl text-slate-gray-700 font-semibold">{{ i18n.trans('last-orders') }}</h2>
            <button class="btn btn-icon btn-danger ml-2" data-toggle="modal" data-target="lastOrdersModal">
                <i class="fa fw fa-times"></i>
            </button>
        </div>
        <!--body-->
        <div class="modal-body p-0">
            <div class="overflow-x-auto">
                <table class="w-full">
                    <thead class="bg-blue-500">
                    <tr>
                        <th class="p-3 text-lg text-white" scope="col">{{ i18n.trans('code') }}</th>
                        <th class="p-3 text-lg text-white" scope="col">{{ i18n.trans('doc-type') }}</th>
                        <th class="p-3 text-lg text-white" scope="col">{{ i18n.trans('date') }}</th>
                        <th class="p-3 text-lg text-white" scope="col">{{ i18n.trans('time') }}</th>
                        <th class="p-3 text-lg text-white" scope="col">{{ i18n.trans('total') }}</th>
                        <th class="p-3 text-lg text-white"><i class="fas fa-print"></i></th>
                    </tr>
                    </thead>
                    <tbody id="lastOrdersList" class="font-semibold text-slate-gray-700">
                    {% for operation in fsc.session.getStorage().getLastOrders() %}
                        <tr class="px-3 bg-blue-100 hover:bg-yellow-200">
                            <td class="px-3 text-center py-3">{{ operation.codigo }}</td>
                            <td class="px-3 text-center">{{ i18n.trans(operation.tipodoc) }}</td>
                            <td class="px-3 text-right">{{ operation.fecha }}</td>
                            <td class="px-3 text-right">{{ operation.hora }}</td>
                            <td class="px-3 text-right">{{ fsc.toolBox().coins().format(operation.total) }}</td>
                            <td class="px-3">
                                <div class="flex justify-center py-1">
                                    <button type="button" class="btn btn-icon btn-primary resume-order-btn"
                                            data-action="printOrderAction" data-code="{{ operation.idoperacion }}">
                                        <i class="fas fa-print fa-sm"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="20" class="p-4">
                                Ninguna operacion registrada
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <span><i class="fas fa-arrow-down"></i> Deslice para ver mas operaciones</span>
        </div>
    </div>
</div>
