{#
/**
 *  This file is part of POS plugin for FacturaScripts
 *  Copyright (C) 2020 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
 */
#}
<div id="holdOrdersModal" class="hidden modal">
    <div class="h-full modal-content md:modal-content-lg">
        <div class="modal-header">
            <h2 class="text-2xl font-semibold text-slate-gray-700">{{ i18n.trans('pos-orders-on-hold') }}</h2>
            <button class="ml-2 btn btn-icon btn-danger" data-toggle="modal" data-target="holdOrdersModal">
                <i class="fa fw fa-times"></i>
            </button>
        </div>
        <div class="m-4 hidden items-center rounded-lg bg-blue-500 p-4 text-white md:flex">
            <div class="flex-1 text-center">
                <span class="font-semibold capitalize italic">{{ i18n.trans('code') }}</span>
            </div>
            <div class="flex-1 text-center">
                <span class="font-semibold capitalize italic">{{ i18n.trans('customer') }}</span>
            </div>
            <div class="flex-1 text-center">
                <span class="font-semibold capitalize italic">{{ i18n.trans('total') }}</span>
            </div>
            <div class="flex-1 text-center">
                <span class="font-semibold capitalize italic">{{ i18n.trans('date') }}</span>
            </div>
            <div class="flex w-24 justify-center">
                <span class="font-semibold capitalize italic"><i class="fas fa-tools"></i></span>
            </div>
        </div>
        <div class="modal-body">
            <div id="pausedOrdersList" class="p-0">
            </div>
        </div>
        <div class="modal-footer">
            <span><i class="fas fa-arrow-down"></i> Deslice para ver mas registros</span>
        </div>
    </div>
</div>
<script id="pausedOrdersListTemplate" type="text/template">
    <% if(it.items.length === 0) { %>
    <div class="flex flex-1 rounded-lg bg-blue-100 p-2 shadow-sm md:flex-row">
        <span>{{ i18n.trans('no-data') }}</span>
    </div>
    <% } %>
    <% it.items.forEach(function(order){ %>
    <div class="mb-4 flex flex-col rounded-lg bg-slate-100 p-2 shadow-sm hover:bg-yellow-100 md:flex-row">
        <div role="listitem" class="flex-1 flex-col self-center"
             data-action="resumeOrderAction" data-code="<%= order.idpausada %>">
            <div class="flex flex-1 flex-col text-center md:flex-row md:text-left">
                <div class="flex-1">
                    <span class="font-semibold capitalize italic md:hidden">{{ i18n.trans('code') }}: </span>
                    <%= order.codigo %>
                </div>
                <div class="flex-1">
                    <span class="font-semibold capitalize italic md:hidden">{{ i18n.trans('customer') }}:</span>
                    <%= order.nombrecliente %>
                </div>
                <div class="flex-1">
                    <span class="font-semibold capitalize italic md:hidden">{{ i18n.trans('total') }}: </span>
                    <span class="<% if (order.total <= 0) { %>text-red-500<% } %>">
                    <%= order.total %></span>
                </div>
                <div class="flex-1">
                    <span class="font-semibold capitalize italic md:hidden">{{ i18n.trans('date') }}: </span>
                    <%= order.fecha %> <%= order.hora %>
                </div>
            </div>
            <span class="text-sm italic">
                <%= order.observaciones || '' %>
            </span>
        </div>
        <div class="mt-4 flex items-center justify-between md:mt-0">
            <button type="button" class="mr-2 btn btn-icon btn-light"
                    data-action="printPausedOrderAction" data-code="<%= order.idpausada %>">
                <i class="fas fa-print fa-sm"></i>
            </button>
            <button type="button" class="btn btn-icon btn-danger"
                    data-action="deleteOrderAction" data-code="<%= order.idpausada %>">
                <i class="fas fa-trash fa-sm"></i>
            </button>
        </div>
    </div>
    <% }) %>
</script>
