{#
/**
 *  This file is part of POS plugin for FacturaScripts
 *  Copyright (C) 2020 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
 */
#}
{% extends 'Master/MicroTemplate.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('node_modules/@fortawesome/fontawesome-free/css/all.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('Plugins/POS/Assets/CSS/pos.app.css') }}"/>
{% endblock %}
{% block javascripts %}
{% endblock %}
{% block fullBody %}
    <body class="bg-slate-100 text-slate-800">
    {% block messages %}
        {% from 'Macro/POS.html.twig' import message as alert %}
        <div id="alert-container" class="alert-container">
            {{- alert(log, ['warning', 'error', 'critical'], 'warning') -}}
            {{- alert(log, ['notice'], 'success') -}}
            {{- alert(log, ['info'], 'info') -}}
        </div>
    {% endblock %}
    {% block body %}
    {% endblock %}
    {% block modals %}
    {% endblock %}
    {% block js %}
    {% endblock %}
    </body>
{% endblock %}
