{#
/**
 * This file is part of EasyPOS plugin for FacturaScripts
 * Copyright (C) 2019 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
 */
#}
{% extends 'POS/Layout/Base.html.twig' %}
{% set grid = fsc.getGridHeaders() %}

{% block body %}
    <div class="col-sm-12 col-md-8 col-lg-9 mh-100">
        {{ include('POS/Block/CartBlock.html.twig') }}
    </div>
    <div class="col-sm-12 col-md-4 col-lg-3">
        <div class="p-3 bg-white rounded box-shadow h-100">
            {{ include('POS/Block/FormBlock.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block modals %}
    {{ include('POS/Modal/AjaxSearchModal.html.twig') }}
    {{ include('POS/Modal/CheckoutModal.html.twig') }}
    {{ include('POS/Modal/CashupModal.html.twig') }}
    {{ include('POS/Modal/HistoryModal.html.twig') }}
    {{ include('POS/Modal/ResetDataModal.html.twig') }}
{% endblock %}
{% block js %}
    <script id="cart-item-template" type="text/template">
    {{ '{{foreach(options.lines)}}' }}
        <tr>
        {{ _self.cartTemplate(grid.columns) }}
        </tr>
    {{ '{{/foreach}}' }}
    </script>
    <script id="ajax-search-template" type="text/template">
        {% verbatim %}
          {{foreach(options.list)}}
          <tr>
            <td><span class="font-weight-bold">ID: {{@this.code}}</span><br>{{@this.description}}</td>
            <td>
                <button class="btn btn-sm btn-success item-add-button" type="button" data-code="{{ @this.code }}"
                        data-description="{{@this.description}}" data-target="{{target}}">
                    <i class="fas fa-plus"></i>
                </button>
            </td>
          </tr>
        {{/foreach}}
        {% endverbatim %}
    </script>
    <script id="history-template" type="text/template">
        {% verbatim %}
          {{foreach(options.list)}}
          <tr>
            <td>{{@this.codigo}}</td>
            <td>{{@this.tipodoc}}</td>
            <td>{{@this.fecha}}</td>
            <td>{{@this.hora}}</td>
            <td>{{@this.total}}</td>
          </tr>
        {{/foreach}}
        {% endverbatim %}
    </script>
    <script type="text/javascript">
        const CashPaymentMethod = "{{ fsc.getCashPaymentMethod() }}";
        const FormName = "salesDocumentForm";
        const UrlAccess = "POS";
    </script>

    {#TODO: Change to dynamic for release #}
    {{ parent() }}
    <script src="{{ asset('Plugins/EasyPOS/Assets/JS/squirrelly.min.js') }}"></script>
    <script src="{{ asset('Plugins/EasyPOS/Assets/JS/onscan.min.js') }}"></script>
    <script src="{{ asset('Plugins/EasyPOS/Assets/JS/POS/CartItem.js') }}"></script>
    <script src="{{ asset('Plugins/EasyPOS/Assets/JS/POS/Cart.js') }}"></script>
    <script src="{{ asset('Plugins/EasyPOS/Assets/JS/pos.app.js') }}"></script>
{% endblock %}

{% macro cartTemplate(columns) %}
    {% for column in columns %}
        {% set name = _self.getTemplateKey(column.data) %}
        {%- if column.data == 'referencia' %}
            <td>
                <input class="form-control cart-item" type="{{ column.type }}" value="{{name}}" readonly>
            </td>
        {%- elseif column.data == 'descripcion' %}
            <td class="cart-product-row">
                <input class="form-control cart-item" type="{{ column.type }}" value="{{name}}" data-index="{{ '{{@key}}' }}" data-field="{{ column.data }}" {{ column.readonly }}>
            </td>
        {% else -%}
            <td>
                <input class="form-control cart-item" type="{{ column.type }}" value="{{name}}" data-index="{{ '{{@key}}' }}" data-field="{{ column.data }}" {{ column.readonly }}>
            </td>
        {% endif -%}
    {% endfor %}
    <td><a href="#" class="cart-item-del" data-index="{{ '{{@key}}' }}"><i class="fas fa-trash text-danger"></i></a></td>
{% endmacro %}

{% macro getTemplateKey(name) %}
    {{- '{{@this.' }}{{ name }}{{ '}}' -}}
{% endmacro %}
