{#
/**
 *  This file is part of POS plugin for FacturaScripts
 *  Copyright (C) 2020 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
 */
#}
{% extends 'POS/Layout/Base.html.twig' %}
{% import 'POS/Macro/POS.html.twig' as pos %}

{% set grid = fsc.getGridHeaders() %}

{% block body %}
    <div class="col-sm-12 col-md-7 col-lg-9 mh-100">
        {{ include('POS/Block/CartBlock.html.twig') }}
    </div>
    <div class="col-sm-12 col-md-5 col-lg-3 pl-md-0">
        <div class="p-3 bg-white rounded box-shadow h-100 d-flex flex-column">
            {{ include('POS/Block/FormBlock.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block modals %}
    {{ include('POS/Modal/Cashup.html.twig') }}
    {{ include('POS/Modal/Checkout.html.twig') }}
    {{ include('POS/Modal/CustomerSearch.html.twig') }}
    {{ include('POS/Modal/LastOrders.html.twig') }}
    {{ include('POS/Modal/PausedOperations.html.twig') }}
    {{ include('POS/Modal/ProductSearch.html.twig') }}
    {{ include('POS/Modal/ResetData.html.twig') }}
{% endblock %}

{% block js %}
    <script id="cartTemplateSource" type="text/template">
        {{ pos.cartTemplateSource(grid.columns) }}
    </script>
    <script id="productTemplateSource" type="text/template">
        {{ pos.productSearchTemplate() }}
    </script>
    <script id="customerTemplateSource" type="text/template">
        {{ pos.customerSearchTemplate() }}
    </script>
    <script type="text/javascript">
        const CASH_PAYMENT_METHOD = "{{ fsc.cashPaymentMethod() }}";
    </script>

    {#TODO: Change to dynamic for release #}
    {{ parent() }}
    <script src="{{ asset('Plugins/POS/Assets/JS/modules/eta.min.js') }}"></script>
    <script src="{{ asset('Plugins/POS/Assets/JS/modules/onscan.min.js') }}"></script>
    <script src="{{ asset('Plugins/POS/Assets/JS/modules/bs-stepper.min.js') }}"></script>
    <script type="module" src="{{ asset('Plugins/POS/Assets/JS/POS/App.js') }}"></script>
{% endblock %}
