{#
/**
* This file is part of POS plugin for FacturaScripts
* Copyright (C) 2019 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU Lesser General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU Lesser General Public License for more details.
*
* You should have received a copy of the GNU Lesser General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
*/
#}
{% extends 'POS/Layout/Base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            {{ include('POS/Block/SaleData.html.twig') }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ include('POS/Block/ItemList.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block modals %}
    {{ include('POS/Modal/CheckoutModal.html.twig') }}
    {{ include('POS/Modal/CashupModal.html.twig') }}
    {{ include('POS/Modal/AjaxSearchModal.html.twig') }}
    {{ include('POS/Modal/HistoryModal.html.twig') }}
{% endblock %}
{% block js %}
    <script id="cart-item-template" type="text/template">
        {% verbatim %}
        {{foreach(options.lines)}}
        <tr>
            <td>
                <div class="form-row cart-product-row">
                    <div class="col-lg-2 col-4">
                        <input class="form-control form-control-sm" type="text" value="{{@this.referencia}}" readonly>
                    </div>
                    <div class="col-lg-10 col-8">
                        <input class="form-control form-control-sm" type="text" value="{{@this.descripcion}}" data-index="{{@key}}" data-field="descripcionS">
                    </div>
                </div>
            </td>
            <td><input class="form-control cart-item" type="number" value="{{@this.cantidad}}" data-index="{{@key}}" data-field="cantidad"></td>
            <td><input class="form-control cart-item" type="number" value="{{@this.pvpunitario}}" data-index="{{@key}}" data-field="pvpunitario"></td>
            <td><input class="form-control cart-item" type="number" value="{{@this.pvptotal}}" tabindex="-1" readonly></td>
            <td><a href="#"><i class="fas fa-trash text-danger"></i></a></td>
        </tr>
        {{/foreach}}
        {% endverbatim %}
    </script>
    <script id="ajax-search-template" type="text/template">
        {% verbatim %}
          {{foreach(options.list)}}
          <tr>
            <td><span class="font-weight-bold">{{@this.code}}</span><br>{{@this.description}}</td>
            <td>
                <button class="btn btn-sm btn-success item-add-button" type="button" data-code="{{ @this.code }}"
                        data-description="{{@this.description}}" data-target="{{target}}">
                    <i class="fas fa-plus"></i>
                </button>
            </td>
          </tr>
        {{/foreach}}
        {% endverbatim %}
    </script>
    <script id="history-template" type="text/template">
        {% verbatim %}
          {{foreach(options.list)}}
          <tr>
            <td>{{@this.codigo}}</td>
            <td>{{@this.tipodoc}}</td>
            <td>{{@this.total}}</td>
          </tr>
        {{/foreach}}
        {% endverbatim %}
    </script>
    <script type="text/javascript">
        posCashPaymentMethod = "{{ fsc.getCashPaymentMethod() }}";
        posFormName = "salesDocumentForm";
        posUrlAccess = "POS";
    </script>

    {#TODO: Change to dynamic for release #}
    {{ parent() }}
    <script src="{{ asset('Plugins/EasyPOS/Assets/JS/squirrelly.min.js') }}"></script>
    <script src="{{ asset('Plugins/EasyPOS/Assets/JS/pos.cartitem.js') }}"></script>
    <script src="{{ asset('Plugins/EasyPOS/Assets/JS/pos.app.js') }}"></script>
{% endblock %}
