{#
/**
* This file is part of POS plugin for FacturaScripts
* Copyright (C) 2019 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU Lesser General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU Lesser General Public License for more details.
*
* You should have received a copy of the GNU Lesser General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
*/
#}
{% extends 'POS/Layout/Base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            {{ include('POS/Block/SaleData.html.twig') }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ include('POS/Block/ItemList.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block modals %}
    {{ include('POS/Modal/CheckoutModal.html.twig') }}
    {{ include('POS/Modal/CashupModal.html.twig') }}
    {{ include('POS/Modal/SearchCustomerModal.html.twig') }}
    {{ include('POS/Modal/SearchProductModal.html.twig') }}
{% endblock %}
{% block js %}
    <script id="cart-item-template" type="text/template">
        {% verbatim %}
        {{foreach(options.lines)}}
        <tr>
            <td>
                <div class="form-row">
                    <div class="col-2">
                        <input class="form-control cart-form-control" name="cart-item-id" value="{{@this.referencia}}" type="text" readonly>
                    </div>
                    <div class="col-10">
                        <input class="form-control cart-form-control" name="cart-item-id" value="{{@this.descripcion}}" type="text">
                    </div>
                </div>
            </td>
            <td><input class="form-control cart-form-control" type="number" value="{{@this.cantidad}}"></td>
            <td><input class="form-control cart-form-control" type="number" value="{{@this.pvpunitario}}"></td>
            <td><input class="form-control cart-form-control" type="number" value="{{@this.pvptotal}}"></td>
            <td><a href="#"><i class="fas fa-trash text-danger"></i></a></td>
        </tr>
        {{/foreach}}
        {% endverbatim %}
    </script>
    <script id="ajax-search-template" type="text/template">
        {% verbatim %}
          {{foreach(options.list)}}
          <tr>
            <td><span class="font-weight-bold">{{@this.code}}</span><br>{{@this.description}}</td>
            <td>
                <button class="btn btn-sm btn-success item-add-button" type="button" data-code="{{ @this.code }}"
                        data-description="{{@this.description}}">
                    <i class="fas fa-plus"></i>
                </button>
            </td>
          </tr>
        {{/foreach}}
        {% endverbatim %}
    </script>
    <script type="text/javascript">
        posCashPaymentMethod = "{{ fsc.getCashPaymentMethod() }}";
        posFormName = "salesDocumentForm";
        posUrlAccess = "POS";
    </script>

    {#TODO: Change to dynamic for release #}
    {{ parent() }}
    <script src="{{ asset('Plugins/EasyPOS/Assets/JS/squirrelly.min.js') }}"></script>
    <script src="{{ asset('Plugins/EasyPOS/Assets/JS/pos.cartitem.js') }}"></script>
    <script src="{{ asset('Plugins/EasyPOS/Assets/JS/pos.app.js') }}"></script>
    <script src="{{ asset('Plugins/EasyPOS/Assets/JS/pos.app.ui.js') }}"></script>
{% endblock %}
