{#
/**
 *  This file is part of EasyPOS plugin for FacturaScripts
 *  Copyright (C) 2020 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
 */
#}
{% extends 'POS/Layout/Base.html.twig' %}
{% set grid = fsc.getGridHeaders() %}

{% block body %}
    <div class="col-sm-12 col-md-7 col-lg-9 mh-100">
        {{ include('POS/Block/CartBlock.html.twig') }}
    </div>
    <div class="col-sm-12 col-md-5 col-lg-3 pl-md-0">
        <div class="p-3 bg-white rounded box-shadow h-100 d-flex flex-column">
            {{ include('POS/Block/FormBlock.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block modals %}
    {{ include('POS/Modal/AjaxSearch.html.twig') }}
    {{ include('POS/Modal/Cashup.html.twig') }}
    {{ include('POS/Modal/Checkout.html.twig') }}
    {{ include('POS/Modal/History.html.twig') }}
    {{ include('POS/Modal/PausedOperations.html.twig') }}
    {{ include('POS/Modal/ResetData.html.twig') }}
{% endblock %}

{% block js %}
    <script id="cartItemTemplate" type="text/template">
        {{ _self.getCartTemplate(grid.columns) }}
    </script>
    <script id="ajaxSearchTemplate" type="text/template">
        {{ _self.getAjaxSearchTemplate() }}
    </script>
    <script type="text/javascript">
        const CashPaymentMethod = "{{ fsc.getCashPaymentMethod() }}";
        const FormName = "salesDocumentForm";
        const UrlAccess = "POS";
    </script>

    {#TODO: Change to dynamic for release #}
    {{ parent() }}
    <script src="{{ asset('Plugins/EasyPOS/Assets/JS/squirrelly.min.js') }}"></script>
    <script src="{{ asset('Plugins/EasyPOS/Assets/JS/onscan.min.js') }}"></script>
    <script src="{{ asset('Plugins/EasyPOS/Assets/JS/POS/CartItem.js') }}"></script>
    <script src="{{ asset('Plugins/EasyPOS/Assets/JS/POS/Cart.js') }}"></script>
    <script src="{{ asset('Plugins/EasyPOS/Assets/JS/pos.app.js') }}"></script>
{% endblock %}

{% macro getAjaxSearchTemplate() %}
    {{- '{{foreach(options.list)}}' }}
    <tr>
        <td><span class="font-weight-bold">ID: {{ '{{@this.code}}' }}</span><br>{{ '{{@this.description}}' }}</td>
        <td>
            <button class="btn btn-sm btn-success item-add-button" type="button" data-code="{{ '{{@this.code}}' }}"
                    data-description="{{ '{{@this.description}}' }}" data-target="{{ '{{target}}' }}">
                <i class="fas fa-plus"></i>
            </button>
        </td>
    </tr>
    {{ '{{/foreach}}' -}}
{% endmacro %}

{% macro getCartTemplate(columns) %}
    {{- '{{foreach(options.lines)}}' }}
    <tr>
    {% for column in columns %}
        {% set name = _self.getTemplateKey(column.data) %}
        {%- if column.data == 'referencia' -%}
            <td>
                <input class="form-control cart-item" type="{{ column.type }}" value="{{name}}" readonly>
            </td>
        {%- elseif column.data == 'descripcion' %}
            <td class="cart-product-row">
                <input class="form-control cart-item" type="{{ column.type }}" value="{{name}}" data-index="{{ '{{@key}}' }}" data-field="{{ column.data }}" {{ column.readonly }}>
            </td>
        {% else -%}
            <td>
                <input class="form-control cart-item" type="{{ column.type }}" value="{{name}}" data-index="{{ '{{@key}}' }}" data-field="{{ column.data }}" {{ column.readonly }}>
            </td>
        {% endif -%}
    {% endfor %}
    <td>
        <button type="button" class="btn btn-icon btn-link">
            <i class="fas fa-trash text-danger cart-item-remove" data-index="{{ '{{@key}}' }}"></i>
        </button>
    </td>
    </tr>
    {{ '{{/foreach}}' -}}
{% endmacro %}

{% macro getTemplateKey(name) %}
    {{- '{{@this.' }}{{ name }}{{ '}}' -}}
{% endmacro %}
