{#
/**
* This file is part of POS plugin for FacturaScripts
* Copyright (C) 2019 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU Lesser General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU Lesser General Public License for more details.
*
* You should have received a copy of the GNU Lesser General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
*/
#}
{% extends 'POS/Layout/Base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        {% if fsc.terminal.idterminal %}
            <form id="formInitCashUp" method="POST" autocomplete="off">
                <input type="hidden" name="terminal" value="{{ fsc.terminal.idterminal }}">
                <input type="hidden" name="action" value="open-till-session">
                <div class="card mx-auto w-50">
                    <div class="card-header bg-dark text-white text-center">{{ fsc.terminal.nombre }}</div>
                    <div class="card-body">
                        <p class="card-text">Ingresa el efectivo en caja para iniciar.</p>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-money-bill-alt"></i></span>
                                        </div>
                                        <input type="number" class="form-control" name="saldoinicial" placeholder="0">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text left">
                                <a href="{{ asset('POS') }}">Ver todas</a>
                            </div>
                            <div class="col text-right">
                                <button class="btn btn-primary" type="submit">
                                <span class="d-none d-sm-inline-block">Continuar</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        {% else %}
            <div class="row">
                <div class="card mx-auto w-50">
                    <div class="card-header bg-dark text-white text-center">
                        {{ i18n.trans('available-cash-registers') }}
                    </div>
                    <div class="card-body">
                        <p class="card-text">Selecciona una terminal para comenzar.</p>
                        {% set terminals = fsc.terminal.allAvailable() %}
                        {% for terminal in terminals %}
                            <div class="row mb-2">
                                <div class="col-12">
                                    <a href="{{ fsc.url()}}?terminal={{ terminal.idterminal }}" class="btn btn-primary btn-lg btn-block">{{ terminal.nombre }}</a>
                                </div>
                            </div>   
                        {% else %}

                            <div class="row mb-2">
                                <div class="col-12">
                                    <a href="{{ asset('ListTerminalPOS') }}" class="btn btn-primary btn-lg btn-block">Agregar</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
