{#
/**
 *  This file is part of POS plugin for FacturaScripts
 *  Copyright (C) 2020 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
 */
#}
{% extends 'POS/Layout/Base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        {% if terminal.idterminal %}
            <form autocomplete="off" id="new-till-session-form" method="post">
                <input name="action" type="hidden" value="open-session">
                <input name="terminal" type="hidden" value="{{ terminal.idterminal }}">
                <div class="row justify-content-md-center">
                    <div class="col col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-center">{{ terminal.nombre }}</h5>
                                <p class="card-text text-center">{{ i18n.trans('cash-initial-amount-input') }}</p>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-money-bill-alt"></i></span>
                                            </div>
                                            <input type="number" class="form-control" name="saldoinicial" value="0">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col text left">
                                        <a href="{{ asset('POS') }}">Ver todas</a>
                                    </div>
                                    <div class="col text-right">
                                        <button class="btn btn-primary" type="submit">{{ i18n.trans('continue') }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        {% else %}
            <div class="row justify-content-md-center">
                <div class="col col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ i18n.trans('available-cash-registers') }}</h5>
                            <p class="card-text text-center">{{ i18n.trans('select-cash-register') }}</p>
                            <form method="post">
                                <input type="hidden" name="action" value="open-terminal"/>
                                {% for terminal in terminal.allAvailable() %}
                                    <div class="form-row">
                                        <div class="col">
                                            <button class="btn btn-primary btn-block" name="terminal"
                                                    value="{{ terminal.idterminal }}">
                                                {{ terminal.nombre }}
                                            </button>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="form-row">
                                        <div class="col">
                                            <a href="{{ asset('ListTerminalPOS') }}" class="btn btn-success btn-block">{{ i18n.trans('add') }}</a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
