{#
/**
* This file is part of POS plugin for FacturaScripts
* Copyright (C) 2019 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU Lesser General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU Lesser General Public License for more details.
*
* You should have received a copy of the GNU Lesser General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
*/
#}
{% import "POS/Macro/Forms.html.twig" as form %}

{% set customer = fsc.cliente.get(fsc.terminal.codcliente) %}
{% set documentList = appSettings.get('pointofsale','tiposdocumento')|split('|') %}
{% set defaultDocument = appSettings.get('pointofsale','defaultdoc') %}

<form id="salesDocumentForm" name="salesDocumentForm" method="post" autocomplete="off">
    <input type="hidden" id="action" name="action"/>
    <input type="hidden" id="codalmacen" name="codalmacen" value="{{ fsc.terminal.codalmacen }}">
    <input type="hidden" id="codserie" name="codserie" value="{{ fsc.terminal.codserie }}">
    <input type="hidden" id="documentdate" name="documentdate" value="{{ "now"|date("d-m-Y") }}">
    <input type="hidden" id="lines" name="lines"/>
    <input type="hidden" id="payments" name="payments"/>
    <input type="hidden" id="token" name="token" value="{{ fsc.getRandomToken() }}">
    <input type="hidden" id="total" name="total" value="0">
    <input type="hidden" id="neto" name="neto" value="0">
    <input type="hidden" id="totalsuplidos" name="totalsuplidos" value="0">
    <input type="hidden" id="totaliva" name="totaliva" value="0">
    <input type="hidden" id="totalirpf" name="totalirpf" value="0">
    <input type="hidden" id="totalrecargo" name="totalrecargo" value="0">

    <div class="form-row">
        {{ form.customerSelect(i18n, 'codcliente', 'codcliente', customer, fsc.cliente.url('new')) }}
        <div class="form-group col-12">
            {{ form.documentSelect(i18n, defaultDocument, documentList) }}
        </div>
    </div>
    <hr>
    <div class="form-row">
        <div class="form-group col-12">
            <label for="cartNetoDisplay">{{ i18n.trans("subtotal") }}</label>
            <input type="number" class="form-control" id="cartNetoDisplay" placeholder="0.00" readonly>
        </div>
        <div class="form-group col-12">
            <label for="password">{{ i18n.trans("discount") }}</label>
            <input type="number" class="form-control" id="password" placeholder="0.00" readonly>
        </div>
        <div class="form-group col-12">
            <label for="cartTaxesDisplay">{{ i18n.trans("taxes") }}</label>
            <input type="number" class="form-control" id="cartTaxesDisplay" placeholder="0.00" readonly>
        </div>
        <div class="form-group col-12">
            <label for="cartTotalDisplay">{{ i18n.trans("total") }}</label>
            <input type="number" class="form-control" id="cartTotalDisplay" placeholder="0.00" readonly>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="form-group col-12">
            <button type="button" class="btn btn-block btn-round btn-primary" id="checkoutButton">
                <i class="fas fa-money-bill-alt" aria-hidden="true"></i>&nbsp;{{ i18n.trans("charge") }}
            </button>
        </div>
        <div class="form-group col">
            <button type="button" class="btn btn-block btn-danger btn-round" data-toggle="modal" data-target="#resetModal">
                <i class="fas fa-broom" aria-hidden="true"></i>&nbsp;Limpiar
            </button>
        </div>
    </div>
</form>