{#
/**
 *  This file is part of EasyPOS plugin for FacturaScripts
 *  Copyright (C) 2020 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
 */
#}
<!-- Ajax Search Modal -->
<div class="modal fade" id="ajaxSearchModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex w-100">
                    <div class="pr-2 flex-grow-1">
                        <div class="input-icon">
                            <input class="form-control input-pill" id="ajaxSearchInput" type="text"
                                   placeholder="Buscar..." autocomplete="off" data-target="none">
                            <span class="input-icon-addon"><i class="fas fa-search"></i></span>
                        </div>
                    </div>
                    <button type="button" class="btn btn-icon btn-round btn-danger" data-dismiss="modal">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <table class="table search-table table-striped">
                    <thead>
                    <tr>
                        <th class="w-90" scope="col">Item</th>
                        <th scope="col"><i class="fas fa-plus-circle"></i></th>
                    </tr>
                    </thead>
                    <tbody id="ajaxSearchResult">
                    <tr><td colspan="2">Escribe en el cuadro para buscar</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Cashup Modal -->
<div class="modal fade" id="cashupModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form id="cashupForm" name="cashupForm" method="POST">
            <input type="hidden" name="action" value="close-session">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ i18n.trans('cashup') }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-sm-8 col-form-label">{{ i18n.trans('amount-counted') }}</label>
                        <label class="col-sm-4 col-form-label">{{ i18n.trans('currency-denomination') }}</label>
                    </div>
                    {% for denominacion in fsc.getDenominations() %}
                        <div class="form-group row">
                            <div class="col-sm-8">
                                <input type="number" class="form-control" name="cash[{{ denominacion.valor }}]" placeholder="0">
                            </div>
                            <label class="col-sm-4 col-form-label"> x {{ denominacion.valor }}</label>
                        </div>
                    {% else %}
                        <div class="alert alert-warning" role="alert">
                            No hay denominaciones registradas, registralas en. <a href="{{ i18n.trans('EditConfiguracionPOS') }}">{{ i18n.trans('pos-settings') }}</a>
                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-round" data-dismiss="modal">{{ i18n.trans('cancel') }}</button>
                    <button type="button" class="btn btn-warning btn-round" id="saveCashupButton">{{ i18n.trans('continue') }}</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Checkout Modal -->
<div class="modal fade" id="checkoutModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Due amount</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="checkoutPaymentMethod">{{ i18n.trans('payment-method') }}</label>
                            <select class="form-control" id="checkoutPaymentMethod" name="payment-method">
                                {% for formapago in fsc.formaPago.all() %}
                                    <option value="{{ formapago.codpago }}">
                                        {{ formapago.descripcion }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="checkoutPaymentAmount" class="col-form-label">{{ i18n.trans('payment-amount') }}:</label>
                            <input type="number" class="form-control" id="checkoutPaymentAmount">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="checkoutPaymentChange" class="col-form-label">{{ i18n.trans('payment-change') }}:</label>
                            <input type="number" class="form-control" id="checkoutPaymentChange" readonly="readonly">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rounded btn-warning mr-auto" id="pauseButton">
                    <i class="fas fa-pause" aria-hidden="true"></i>&nbsp;{{ i18n.trans("pause") }}
                </button>
                <button type="button" class="btn btn-rounded btn-primary" id="checkoutButton" disabled="disabled">Continuar</button>
            </div>
        </div>
    </div>
</div>
<!-- History Modal -->
<div class="modal fade" id="historyModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex w-100">
                    <div class="pr-2 flex-grow-1">
                        <h5 class="modal-title">{{ i18n.trans('till-session-operations') }}</h5>
                    </div>
                    <form method="post">
                        <input type="hidden" name="action" value="print-cashup">
                        <button type="submit" class="mr-2 btn btn-icon btn-round btn-primary" title="{{ i18n.trans('print-z') }}">
                            <i class="fa fa-print"></i>
                        </button>
                    </form>
                    <button type="button" class="btn btn-icon btn-round btn-danger" data-dismiss="modal">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <table class="table search-table table-striped">
                    <thead>
                    <tr>
                        <th scope="col" class="w-20">{{ i18n.trans('code') }}</th>
                        <th scope="col">{{ i18n.trans('doc-type') }}</th>
                        <th scope="col" class="w-20">{{ i18n.trans('date') }}</th>
                        <th scope="col" class="w-20">{{ i18n.trans('time') }}</th>
                        <th scope="col" class="w-20">{{ i18n.trans('total') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for operation in fsc.session.loadHistory() %}
                        <tr>
                            <td>{{ operation.codigo }}</td>
                            <td>{{ i18n.trans(operation.tipodoc) }}</td>
                            <td>{{ operation.fecha }}</td>
                            <td>{{ operation.hora }}</td>
                            <td class="text-right">{{ fsc.toolBox().coins().format(operation.total) }}</td>
                        </tr>
                    {% else %}
                        <div class="alert alert-info" role="alert">
                            Ninguna operacion registrada
                        </div>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Paused Operations Modal -->
<div class="modal fade" id="pausedOpsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex w-100">
                    <div class="pr-2 flex-grow-1">
                        <h5 class="modal-title">{{ i18n.trans('till-session-pausedops') }}</h5>
                    </div>
                    <button type="button" class="btn btn-icon btn-round btn-danger" data-dismiss="modal">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <table class="table search-table table-striped" id="pausedOperations">
                    <colgroup>
                        <col class="w-15">
                        <col>
                        <col class="w-15">
                        <col class="w-15">
                        <col class="w-15">
                        <col>
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col">{{ i18n.trans('code') }}</th>
                        <th scope="col">{{ i18n.trans('doc-type') }}</th>
                        <th scope="col">{{ i18n.trans('date') }}</th>
                        <th scope="col">{{ i18n.trans('time') }}</th>
                        <th scope="col">{{ i18n.trans('total') }}</th>
                        <th scope="col"><i class="fas fa-chevron-circle-right"></i></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for operation in fsc.session.loadPausedOps() %}
                        <tr>
                            <td>{{ operation.codigo }}</td>
                            <td>{{ i18n.trans(operation.nombrecliente) }}</td>
                            <td>{{ operation.fecha }}</td>
                            <td>{{ operation.hora }}</td>
                            <td>{{ fsc.toolBox().coins().format(operation.total) }}</td>
                            <td>
                                <button type="button" class="btn btn-link resume-button px-0" data-code="{{operation.idpausada}}">
                                    <i class="fas fa-file-download fa-lg text-info"></i>
                                </button>
                            </td>
                        </tr>
                    {% else %}
                        <div class="alert alert-info" role="alert">
                            Ninguna operacion registrada
                        </div>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Reset Data Modal -->
<div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="resetModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resetModalLabel">Reiniciar la venta</h5>
            </div>
            <div class="modal-body">
                <p>Se reiniciara la información</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rounded btn-secondary" data-dismiss="modal">{{ i18n.trans('cancel') }}</button>
                <button type="button" class="btn btn-rounded btn-danger" onclick="location.reload();">{{ i18n.trans('accept') }}</button>
            </div>
        </div>
    </div>
</div>