{#
/**
* This file is part of POS plugin for FacturaScripts
* Copyright (C) 2019 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU Lesser General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU Lesser General Public License for more details.
*
* You should have received a copy of the GNU Lesser General Public License
* along with this program. If not, see <http://www.gnu.org/licenses/>.
*/
#}
{% import "POS/Macro/Forms.html.twig" as form %}

{% set customer = fsc.cliente.get(fsc.terminal.codcliente) %}
{% set documentList = appSettings.get('pointofsale','tiposdocumento')|split('|') %}
{% set defaultDocument = appSettings.get('pointofsale','defaultdoc') %}

<form id="salesDocumentForm" class="form" method="post" autocomplete="off">
    <input type="hidden" id="action" name="action"/>
    <input type="hidden" id="codalmacen" name="codalmacen" value="{{ fsc.terminal.codalmacen }}">
    <input type="hidden" id="codserie" name="codserie" value="{{ fsc.terminal.codserie }}">
    <input type="hidden" id="documentdate" name="documentdate" value="{{ "now"|date("d-m-Y") }}">
    <input type="hidden" id="lines" name="lines"/>
    <input type="hidden" id="payments" name="payments"/>
    <input type="hidden" id="token" name="token" value="{{ fsc.getRandomToken() }}">
    <input type="hidden" id="total" name="total" value="0">

    <div class="row row-card-no-pd no-gutters">
        <div class="col-md-4 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-row">
                            {{ form.customerSelect(i18n, 'codcliente', 'codcliente', customer, fsc.cliente.url('new')) }}
                        <div class="form-group col-12">
                            {{ form.documentSelect(i18n, defaultDocument, documentList) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <small class="text-muted">Total:</small>
                        </div>
                        <div class="col-12 text-right">
                            <span class="display-5" id="cartTotalDisplay">9999.99</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <small class="text-muted">Taxes:</small>
                        </div>
                        <div class="col-12 text-right">
                            <span class="display-5" id="cartTaxesDisplay">99.99</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>