{% macro input(name, value, type = "text", size = 20) %}
    <div class="form-group col">
        <input class="form-control" name="{{ name }}" type="{{ type }}" value="{{ value|e }}" size="{{ size }}"/>
    </div>
{% endmacro %}

{% macro textarea(name, value, rows = 10, cols = 40) %}
    <textarea name="{{ name }}" rows="{{ rows }}" cols="{{ cols }}">{{ value|e }}</textarea>
{% endmacro %}

{% macro customerSelect(i18n, id, name, model, newUrl) %}
    <div class="form-group col">
        <div class="input-group">
            <span class="input-group-prepend">
                <a href="{{ newUrl }}" target="_blank" class="btn btn-success" title="{{ i18n.trans('new-customer') }}">
                    <i class="fas fa-user-plus fa-fw" aria-hidden="true"></i>
                </a>
            </span>
            <input name="{{ name }}" id="{{ id }}" type="hidden" value="{{ model.codcliente }}"/>
            <input type="text" id="searchCustomer" value="{{ model.nombre | raw }}" class="form-control"
                   placeholder="{{ i18n.trans('customer') }}" autocomplete="off"/>
        </div>
    </div>
{% endmacro %}

{% macro documentSelect(i18n, default, documentList) %}
    <select class="form-control custom-select" id="tipoDocumento" name="tipo-documento">
        {% for document in documentList %}
            <option value="{{ document }}" {% if document == default %} selected="selected" {% endif %}>
                {{ i18n.trans(document) }}</option>
        {% endfor %}
    </select>
{% endmacro %}