{% macro productSearchTemplate() %}
    <% it.items.forEach(function(item){ %>
    <tr>
        <td><span class="font-weight-bold">Codigo: <%= item.code %> </span><br><%= item.description %></td>
        <td>
            <button class="btn btn-icon btn-success item-add-button" type="button" data-code="<%= item.code %>"
                    data-description="<%= item.description %>">
                <i class="fas fa-shopping-cart"></i>
            </button>
        </td>
    </tr>
    <% }) %>
{% endmacro %}

{% macro customerSearchTemplate() %}
    <% it.items.forEach(function(customer){ %>
    <tr>
        <td><span class="font-weight-bold">No. Cliente: <%= customer.code %> </span><br><%= customer.description %></td>
        <td>
            <button class="btn btn-icon btn-success item-add-button" type="button" data-code="<%= customer.code %>"
                    data-description="<%= customer.description %>">
                <i class="fas fa-check"></i>
            </button>
        </td>
    </tr>
    <% }) %>
{% endmacro %}

{% macro cartTemplateSource(columns) %}
    <% it.lines.forEach(function(value, index) { %>
    <tr>
        {% for column in columns %}
            {%- if column.data == 'referencia' -%}
                <td>
                    <input class="form-control cart-item" type="{{ column.type }}" value="<%= value.referencia %>" readonly>
                </td>
            {%- elseif column.data == 'descripcion' %}
                <td class="cart-product-row">
                    <input class="form-control cart-item" type="{{ column.type }}" value="<%= value.descripcion %>" data-index="<%= index %>" data-field="{{ column.data }}" {{ column.readonly }}>
                </td>
            {% else -%}
                <td>
                    <input class="form-control cart-item" type="{{ column.type }}" value="<%= value.{{ column.data }} %>" data-index="<%= index %>" data-field="{{ column.data }}" {{ column.readonly }}>
                </td>
            {% endif -%}
        {% endfor %}
        <td>
            <button type="button" class="btn btn-icon btn-link">
                <i class="fas fa-trash text-danger cart-item-remove" data-index="<%= index %>"></i>
            </button>
        </td>
    </tr>
    <% }) %>
{% endmacro %}