{% macro getAjaxSearchTemplate() %}
    {{- '{{foreach(options.list)}}' }}
    <tr>
        <td><span class="font-weight-bold">ID: {{ '{{@this.code}}' }}</span><br>{{ '{{@this.description}}' }}</td>
        <td>
            <button class="btn btn-sm btn-success item-add-button" type="button" data-code="{{ '{{@this.code}}' }}"
                    data-description="{{ '{{@this.description}}' }}" data-target="{{ '{{target}}' }}">
                <i class="fas fa-plus"></i>
            </button>
        </td>
    </tr>
    {{ '{{/foreach}}' -}}
{% endmacro %}

{% macro getCartTemplate(columns) %}
    {{- '{{foreach(options.lines)}}' }}
    <tr>
        {% for column in columns %}
            {% set name = _self.getTemplateKey(column.data) %}
            {%- if column.data == 'referencia' -%}
                <td>
                    <input class="form-control cart-item" type="{{ column.type }}" value="{{name}}" readonly>
                </td>
            {%- elseif column.data == 'descripcion' %}
                <td class="cart-product-row">
                    <input class="form-control cart-item" type="{{ column.type }}" value="{{name}}" data-index="{{ '{{@key}}' }}" data-field="{{ column.data }}" {{ column.readonly }}>
                </td>
            {% else -%}
                <td>
                    <input class="form-control cart-item" type="{{ column.type }}" value="{{name}}" data-index="{{ '{{@key}}' }}" data-field="{{ column.data }}" {{ column.readonly }}>
                </td>
            {% endif -%}
        {% endfor %}
        <td>
            <button type="button" class="btn btn-icon btn-link">
                <i class="fas fa-trash text-danger cart-item-remove" data-index="{{ '{{@key}}' }}"></i>
            </button>
        </td>
    </tr>
    {{ '{{/foreach}}' -}}
{% endmacro %}

{% macro getTemplateKey(name) %}
    {{- '{{@this.' }}{{ name }}{{ '}}' -}}
{% endmacro %}