{% import _self as macros %}

<script type="text/javascript">
    PosDocViewLineData = {{ fsc.getDocColumnsData() | raw }};
    PosDocViewFormName = "formBusinessDocumentLine";
    PosDocViewUrl = "POS";
    PosDocAutocompleteUrl = "EditFacturaCliente";
    PosDocCashPaymentMethod = "{{ appSettings.get('pointofsale','fpagoefectivo') }}";

    function salesDocumentSave() {
        document.getElementById("action").value = "save-document";
        document.getElementById("lines").value = JSON.stringify(getGridData());

        console.log(getGridData());
        var modal = $('#payment-modal');
        modal.find('.modal-title').text("{{ i18n.trans('total') }} "  + formatNumber(document.getElementById("doc_total").value));
        modal.modal();

        $('#btn-payment-ok').on('click', function (event) {
            var paymentData = {};

            paymentData['amount'] = $('#payment-amount').val();
            paymentData['method'] = $('#payment-method').val();
            paymentData['change'] = $('#payment-change').val();

            document.getElementById("payments").value = JSON.stringify(paymentData);
            document.formSalesDocument.submit()
        });        
    }

    function closeCashUp() {
        $("#cashup-modal").modal('show');
    }    
</script>
<div class="container-fluid">
    <form id="formSalesDocument" name="formSalesDocument" method="POST" autocomplete="off">
        <input type="hidden" id="action" name="action"/>        
        <input type="hidden" id="codalmacen" name="codalmacen" value="{{ fsc.terminal.codalmacen}}">
        <input type="hidden" id="codserie" name="codserie" value="{{ fsc.terminal.codserie}}">
        <input type="hidden" id="lines" name="lines"/>
        <input type="hidden" id="payments" name="payments"/>
        <div class="form-row">            
            {% set customer = fsc.cliente.get(fsc.terminal.codcliente) %}
            {{ macros.customerSelect(i18n, 'codcliente', 'codcliente', customer, fsc.cliente.url('new')) }}
            <div class="form-group col-3">
                <select class="form-control" id="tipodocumento" name="tipodocumento">
                    {% set businessDocs = appSettings.get('pointofsale','tiposdocumento')|split('|') %}
                    {% set defaultDoc = appSettings.get('pointofsale','defaultdoc') %}
                    {% for document in businessDocs %}
                        <option value="{{ document }}" {% if document == defaultDoc %} selected="selected" {% endif %}>
                            {{ document }}
                        </option>
                    {% endfor %}
                </select>
            </div>            
            <div class="form-group col-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-calendar-alt fa-fw"></i></span>
                    </div>
                    <input type="text" id="documentdate" name="documentdate" value="{{ "now"|date("d-m-Y") }}" class="form-control" readonly>
                </div>
            </div>
            <div class="form-group col-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-money-check-alt fa-fw"></i></span>
                    </div>
                    <input type="number" id="doc_total" name="documenttotal" value="0" class="form-control" readonly>
                </div>
            </div>
        </div>
        <div id="document-lines"></div>
        <div class="form-row mt-3">
            <div class="col">
            </div>
            <div class="col-sm-2">
            </div>
            
            <div class="col-sm-2">
            </div>
            
            <div class="col-sm-2">
            </div>
            
            <div class="col text-right">
                <button type="button" class="btn btn-sm btn-primary" id="btn-document-save" onclick="salesDocumentSave();">
                <i class="fas fa-save" aria-hidden="true"></i>&nbsp; Guardar
                </button>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="payment-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">payment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="payment-method">{{ i18n.trans('payment-method') }}</label>
                        <select class="form-control" id="payment-method" name="payment-method">
                            {% for formapago in fsc.formaPago.all() %}
                                <option value="{{ formapago.codpago }}">
                                    {{ formapago.descripcion }}
                                </option>
                            {% endfor %}
                        </select>
                    </div> 
                    <div class="form-group">
                        <label for="payment-amount" class="col-form-label">{{ i18n.trans('payment-amount') }}:</label>
                        <input type="text" class="form-control" id="payment-amount">
                    </div>
                    <div class="form-group">
                        <label for="payment-change" class="col-form-label">{{ i18n.trans('payment-change') }}:</label>
                        <input type="text" class="form-control" id="payment-change" readonly="readonly">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ i18n.trans('cancel') }}</button>
                <button type="button" class="btn btn-primary" id="btn-payment-ok" disabled="disabled">Continuar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cashup-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form method="POST">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ i18n.trans('cash-up') }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="action" value="close-till">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Denominacion</label>
                        <label class="col-sm-8 col-form-label">Cantidad</label>
                    </div>
                    {% for denominacion in fsc.getDenominaciones() %}
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label text-right">{{ denominacion.valor }} x </label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" name="cash[{{ denominacion.valor }}]" placeholder="0">
                            </div>
                        </div>
                    {% else %}
                        <div class="alert alert-warning" role="alert">
                            No hay denominaciones registradas, registralas en.
                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ i18n.trans('cancel') }}</button>
                    <button type="submit" class="btn btn-primary" id="btn-close-till">Continuar</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% macro customerSelect(i18n, id, name, model, newUrl) %}
    <div class="col mb-3">
        <div class="input-group">
            <span class="input-group-prepend">
                {% if model.codcliente %}
                    <a href="EditCliente?code={{ model.codcliente }}" target="_blank" class="btn btn-info">
                        <i class="fas fa-user-cog fa-fw" aria-hidden="true"></i>
                    </a>
                {% else %}
                    <a href="{{ newUrl }}" target="_blank" class="btn btn-success" title="{{ i18n.trans('new-customer') }}">
                        <i class="fas fa-user-plus fa-fw" aria-hidden="true"></i>
                    </a>
                {% endif %}
            </span>
            <input type="hidden" id="{{ id }}Autocomplete" name="{{ name }}" value="{{ model.codcliente }}"/>
            <input type="text" id="{{ id }}" value="{{ model.nombre | raw }}" class="form-control autocomplete-dc"
                   data-field="{{ id }}" data-source="Cliente" data-fieldcode="codcliente" data-fieldtitle="nombre"
                   placeholder="{{ i18n.trans('customer') }}" autocomplete="off"/>
        </div>
    </div>
{% endmacro %}
