{% import _self as macros %}
<script type="text/javascript">
    PosDocViewLineData = {"headers":["Referencia","Descripci\u00f3n","Cantidad","Precio","Neto"],"columns":[{"data":"referencia","type":"autocomplete","source":{"source":"Variante","fieldcode":"referencia","fieldtitle":"referencia"},"strict":false,"visibleRows":5,"trimDropdown":false},{"data":"descripcion","type":"text"},{"data":"cantidad","type":"numeric","numericFormat":{"pattern":"0.00"}},{"data":"pvpunitario","type":"numeric","numericFormat":{"pattern":"0.00"}},{"data":"pvptotal","type":"numeric","numericFormat":{"pattern":"0.00"}}],"rows":[]};
    PosDocViewFormName = "formBusinessDocumentLine";
    PosDocViewUrl = "PointOfSale";
    PosDocAutocompleteUrl = "EditFacturaCliente";

    function salesDocumentSave() {
        $("#btn-document-save").prop("disabled", true);

        document.getElementById("action").value = "save-document";
        document.getElementById("lines").value = JSON.stringify(getGridData());

        console.log(getGridData());
        var modal = $('#modal-payment');
        modal.find('.modal-title').text("{{ i18n.trans('total') }} "  + formatNumber(document.getElementById("doc_total").value));
        modal.modal();

        $('#btn-payment-ok').on('click', function (event) {
            var paymentData = {};

            paymentData['amount'] = $('#payment-amount').val();
            paymentData['method'] = $('#payment-method').val();
            paymentData['change'] = $('#payment-change').val();

            document.getElementById("payments").value = JSON.stringify(paymentData);
            document.formSalesDocument.submit()
        });        
    }

    $('#modal-cashout').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('New message to ' + recipient)
        modal.find('.modal-body input').val(recipient)
    });
</script>
<div class="container-fluid">
    <form id="formSalesDocument" name="formSalesDocument" method="POST" autocomplete="off">
        <input type="hidden" id="action" name="action"/>        
        <input type="hidden" id="codserie" name="codserie" value="{{ fsc.terminal.codserie}}">
        <input type="hidden" id="lines" name="lines"/>
        <input type="hidden" id="payments" name="payments"/>
        <div class="form-row">            
            {% set customer = fsc.cliente.get(fsc.terminal.codcliente) %}
            {{ macros.customerSelect(i18n, 'codcliente', 'codcliente', customer, fsc.cliente.url('new')) }}
            <div class="form-group col-3">
            </div>            
            <div class="form-group col-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-calendar-alt fa-fw"></i></span>
                    </div>
                    <input type="text" id="documentdate" name="documentdate" value="{{ "now"|date("d-m-Y") }}" class="form-control" readonly>
                </div>
            </div>
            <div class="form-group col-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-money-check-alt fa-fw"></i></span>
                    </div>
                    <input type="number" id="doc_total" name="documenttotal" value="0" class="form-control" readonly>
                </div>
            </div>
        </div>
        <div id="document-lines"></div>
        <div class="form-row mt-3">
            <div class="col">
            </div>
            <div class="col-sm-2">
            </div>
            
            <div class="col-sm-2">
            </div>
            
            <div class="col-sm-2">
            </div>
            
            <div class="col text-right">
                <button type="button" class="btn btn-sm btn-primary" id="btn-document-save" onclick="salesDocumentSave();">
                <i class="fas fa-save" aria-hidden="true"></i>&nbsp; Guardar
                </button>
            </div>
        </div>
    </form>
</div>

{% macro customerSelect(i18n, id, name, model, newUrl) %}
    <div class="col mb-3">
        <div class="input-group">
            <span class="input-group-prepend">
                {% if model.codcliente %}
                    <a href="EditCliente?code={{ model.codcliente }}" target="_blank" class="btn btn-info">
                        <i class="fas fa-user-cog fa-fw" aria-hidden="true"></i>
                    </a>
                {% else %}
                    <a href="{{ newUrl }}" target="_blank" class="btn btn-success" title="{{ i18n.trans('new-customer') }}">
                        <i class="fas fa-user-plus fa-fw" aria-hidden="true"></i>
                    </a>
                {% endif %}
            </span>
            <input type="hidden" id="{{ id }}Autocomplete" name="{{ name }}" value="{{ model.codcliente }}"/>
            <input type="text" id="{{ id }}" value="{{ model.nombre | raw }}" class="form-control autocomplete-dc"
                   data-field="{{ id }}" data-source="Cliente" data-fieldcode="codcliente" data-fieldtitle="nombre"
                   placeholder="{{ i18n.trans('customer') }}" autocomplete="off"/>
        </div>
    </div>
{% endmacro %}


<div class="modal fade" id="modal-payment" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">payment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="payment-method">{{ i18n.trans('payment-method') }}</label>
                        <select class="form-control" id="payment-method" name="payment-method">
                            {% set defaultcustomer = fsc.terminal.codcliente %}
                            {% for formapago in fsc.formaPago.all() %}
                                {% if formapago.codpago == defaultcustomer %} {% set selected  = 'selected' %} {% endif %}
                                <option value="{{ formapago.codpago }}" {{ selected }}>
                                    {{ formapago.descripcion }}
                                </option>
                            {% endfor %}
                        </select>
                    </div> 
                    <div class="form-group">
                        <label for="payment-amount" class="col-form-label">{{ i18n.trans('payment-amount') }}:</label>
                        <input type="text" class="form-control" id="payment-amount">
                    </div>
                    <div class="form-group">
                        <label for="payment-change" class="col-form-label">{{ i18n.trans('payment-change') }}:</label>
                        <input type="text" class="form-control" id="payment-change" readonly="readonly">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ i18n.trans('cancel') }}</button>
                <button type="button" class="btn btn-primary" id="btn-payment-ok" disabled="disabled">Continuar</button>
            </div>
        </div>
    </div>
</div>