<script type="text/javascript">
    POSDocViewLineData = {"headers":["Referencia","Descripci\u00f3n","Cantidad","Precio","Neto"],"columns":[{"data":"referencia","type":"autocomplete","source":{"source":"Variante","fieldcode":"referencia","fieldtitle":"referencia"},"strict":false,"visibleRows":5,"trimDropdown":false},{"data":"descripcion","type":"text"},{"data":"cantidad","type":"numeric","numericFormat":{"pattern":"0.00"}},{"data":"pvpunitario","type":"numeric","numericFormat":{"pattern":"0.00"}},{"data":"pvptotal","type":"numeric","numericFormat":{"pattern":"0.00"}}],"rows":[]};
    POSDocViewFormName = "formBusinessDocumentLine";
    POSDocViewUrl = "PointOfSale";

    function salesDocumentSave2() {
        $("#btn-document-save").prop("disabled", true);

        var data = {};
        $.each($("#" + POSDocViewFormName).serializeArray(), function (key, value) {
            data[value.name] = value.value;
        });
        data.action = "save-document";
        data.lines = getGridData();
        console.log(data);
        $.ajax({
            type: "POST",
            url: "{{ asset('PointOfSale') }}",
            dataType: "text",
            data: data,
            success: function (results) {
                if (results.substring(0, 3) === "OK:") {
                    //location.href = results.substring(3);
                    alert(results);
                } else {
                    alert(results);
                }
            }
        });

        $("#btn-document-save").prop("disabled", false);
    }

    function salesDocumentSave() {
        $("#btn-document-save").prop("disabled", true);

        document.getElementById("action").value = "save-document";
        document.getElementById("lines").value = JSON.stringify(getGridData());

        console.log(getGridData());
        document.formSalesDocument.submit();

        $("#btn-document-save").prop("disabled", false);
    }
</script>
<div class="container-fluid">
    <form id="formSalesDocument" name="formSalesDocument" method="POST" autocomplete="off">
        <input type="hidden" id="action" name="action"/>
        <input type="hidden" id="lines" name="lines"/>
        <input type="hidden" id="idfactura" name="idfactura">
        <div class="form-row">
            <div class="form-group col-5">
                <label for="searchbox">Buscar articulo</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-search fa-fw"></i></span>
                    </div>
                    <input type="text" id="searchbox" name="search" value="" class="form-control">
                </div>
            </div>
            <div class="form-group col-3">
                <label for="codcliente">Cliente</label>
                <select class="form-control" id="codcliente" name="codcliente">
                    {% set defaultcustomer = fsc.terminal.codcliente %}
                    {% for cliente in fsc.cliente.all() %}
                        {% if cliente.codcliente == defaultcustomer %} {% set selected  = 'selected' %} {% endif %}
                        <option value="{{ cliente.codcliente }}" {{ selected }}>
                            {{ cliente.nombre }}
                        </option>
                    {% endfor %}
                </select>
            </div>            
            <div class="form-group col-2">
                <label>Fecha</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-calendar-alt fa-fw"></i></span>
                    </div>
                    <input type="text" id="documentdate" name="documentdate" value="{{ "now"|date("d-m-Y") }}" class="form-control" readonly>
                </div>
            </div>
            <div class="form-group col-2">
                <label>Total</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-money-check-alt fa-fw"></i></span>
                    </div>
                    <input type="number" id="doc_total" name="documenttotal" value="0" class="form-control" readonly>
                </div>
            </div>
        </div>
        <div id="document-lines"></div>
        <div class="form-row mt-3">
            <div class="col">
            </div>
            <div class="col-sm-2">
            </div>
            
            <div class="col-sm-2">
            </div>
            
            <div class="col-sm-2">
            </div>
            
            <div class="col text-right">
                <button type="button" class="btn btn-sm btn-primary" id="btn-document-save" onclick="salesDocumentSave();">
                <i class="fas fa-save" aria-hidden="true"></i>&nbsp; Guardar
                </button>
            </div>
        </div>
    </form>
</div>