{#
/**
 *  This file is part of POS plugin for FacturaScripts
 *  Copyright (C) 2020 Juan José Prieto Dzul <juanjoseprieto88@gmail.com>
 */
#}
<form id="formPointSaleSettings" method="post" enctype="multipart/form-data">
    <input type="hidden" name="action" value="settings">
    <div class="card shadow">
        <div class="card-body">
            <div class="form-row mb-3">
                <div class="col-md-12">
                    <legend class="text-info"><i class="fas fa-sliders-h"></i> Opciones predefinidas</legend>
                </div>
                <div class="form-group col-6">
                    {% set cash = appSettings.get('pointofsale','fpagoefectivo') %}
                    <label for="cash-payment">{{ i18n.trans('cash-payment-method') }}</label>
                    <select class="form-control" id="cash-payment" name="cash-payment">
                        {% for formapago in fsc.paymentMethods %}
                            <option value="{{ formapago.codpago }}"{% if formapago.codpago == cash %} selected {% endif %}>
                                {{ formapago.descripcion }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-6">
                    {% set defaultdoc = appSettings.get('pointofsale','defaultdoc') %}
                    <label for="cash-payment">{{ i18n.trans('default-business-document') }}</label>
                    <select class="form-control" id="default-businessdoc" name="default-businessdoc">
                        {% for businessDoc in fsc.businessDocTypes %}
                            <option value="{{ businessDoc.tipodoc }}"{% if businessDoc.tipodoc == defaultdoc %} selected {% endif %}>
                                {{ i18n.trans(businessDoc.tipodoc) }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-row mb-3">
                <div class="col-md-12">
                    <legend class="text-info">
                        <i class="fas fa-credit-card"></i> {{ i18n.trans('available-payment-methods') }}
                    </legend>
                </div>
                {% for paymentMethod in fsc.paymentMethods %}
                    {% set checked = fsc.isPaymentMethodEneabled(paymentMethod.codpago) %}
                    <div class="col">
                        <div class="form-group form-check">
                            <input type="checkbox" name="paymentmethod[]" value="{{ paymentMethod.codpago }}" class="form-check-input" {{ checked ? 'checked' }}>
                            <label for="checkbox0">{{ paymentMethod.descripcion|e }}</label>
                        </div>
                    </div>
                {% else %}
                    <li><em>No se encontro ningun m&eacute;todo de pago.</em></li>
                {% endfor %}
            </div>
            <div class="form-row mb-4">
                <div class="col-md-12">
                    <legend class="text-info">
                        <i class="fas fa-file-invoice-dollar"></i> {{ i18n.trans('available-custumer-doctypes') }}
                    </legend>
                </div>
                {% for businessDoc in fsc.businessDocTypes %}
                    <div class="col">
                        {% set checked = fsc.isBusinessDocEneabled(businessDoc.tipodoc) %}
                        <div class="form-group form-check">
                            <input type="checkbox" name="bussinesdocs[]" value="{{ businessDoc.tipodoc }}" class="form-check-input" {{ checked ? 'checked' }}>
                            <label for="checkbox0">{{ i18n.trans(businessDoc.tipodoc) }}</label>
                        </div>
                    </div>
                {% else %}
                    <li><em>No se encontro ningun tipo de documento.</em></li>
                {% endfor %}
            </div>
            <div class="form-row mb-4">
                <div class="col-md-12">
                    <legend class="text-info"><i class="fas fa-table"></i> Columnas en el POS</legend>
                    {% if fsc.user.admin %}
                        <a class="btn btn-warning" href="{{ asset('EditPageOption') }}?code=EditConfiguracionPOS">
                            <i class="fas fa-edit" aria-hidden="true"> Editar</i>
                        </a>
                    {% else %}
                        <p>Solo un administrador puede modificar esta información</p>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col text-right">
                    <button class="btn btn-sm btn-primary" type="submit" name="accion" value="save">
                        <i class="fas fa-save fa-fw" aria-hidden="true"></i>
                        <span class="d-none d-sm-inline-block">{{ i18n.trans('save') }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
